{% extends 'splash_base.html' %}

{% block content %}

<ul class="contact">
	<li><a href="mailto:hans.geiszler@japhysurfco.com"><i class="fa fa-envelope-o"></i> Email</a></li>
	<li><a target="_blank" href="http://www.facebook.com/japhysurfco"><i class="fa fa-facebook-square"></i> Facebook</a></li>
	<li><a target="_blank" href="http://www.twitter.com/japhysurfco"><i class="fa fa-twitter-square"></i> Twitter</a></li>
	<li><a target="_blank" href="http://japhysurfco.tumblr.com/"><i class="fa fa-tumblr-square"></i> Tumblr</a></li>
	<li><a target="_blank" href="http://www.instagram.com/japhysurfco"><i class="fa fa-instagram"></i> Instagram</a></li>
</ul>




{% endblock %}